<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>New Request for Transaction</title>
    </head>
    <body>
        <h2>Hello {{poster_name}}! </h2>
        <p>We just wanted to inform you that someone has requested to make your request to swap {{class_drop}} for {{class_want}}. </p>
        <br><p>Name: {{requester_name}}, Email: {{requester_email}}</p><br>
        <p>Reach out to them to see if you're interested in making the trade. 
            Then either close your transaction or reject the request on your BruinSwap profile.</p>
        <p>Best,</p>
        <p>Bruin Swap Team</p>
    </body>
</html>